<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8658938022-3asgu40psjujo4n1kna20ec4qfvbrjop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8658938022-3asgu40psjujo4n1kna20ec4qfvbrjop</string>
	<key>API_KEY</key>
	<string>AIzaSyDsHVFmcXgnq1OhCzpg7pRC98DeHrb4k_0</string>
	<key>GCM_SENDER_ID</key>
	<string>8658938022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocList</string>
	<key>PROJECT_ID</key>
	<string>bloc-list-7cdf2</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-list-7cdf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8658938022:ios:4b2a6b2876d5957d1c2c67</string>
</dict>
</plist>